In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [ ]:
train_data=pd.read_csv('data/Cleaned Data/train_cleaned.csv')
train_data.head()

,PassengerId,Survived,Pclass,Age,Fare,Embarked,Sex,Name,Family,Has_Cabin,Ticket_Number
0,1,0,3,22.0,7.2500,0,1,Owen Braund,1,0,5
1,2,1,1,38.0,71.2833,1,0,Florence Briggs Thayer Cumings,1,1,17599
2,3,1,3,26.0,7.9250,0,0,Laina Heikkinen,0,0,2
3,4,1,1,35.0,53.1000,0,0,Lily May Peel Futrelle,1,1,113803
4,5,0,3,35.0,8.0500,0,1,William Allen,0,0,373450

## Logistic Regression Model

In [ ]:
# Making The Model
x_train=train_data[['Age','Sex','Pclass','Has_Cabin']]
y_train=train_data['Survived']
model = LogisticRegression()
model.fit(x_train, y_train)

# Making predictions
y_pred = model.predict(x_train)

# Model evaluation (represents how much each feature affects the prediction)
print("Model Coefficients:", model.coef_)

print("\nAccuracy:", accuracy_score(y_train, y_pred))

# Confusion Matrix 
# [[True Negatives, False Positives
#   False Negatives, True Positives]]
print("\nConfusion Matrix:\n", confusion_matrix(y_train, y_pred))

print("\nClassification Report:\n", classification_report(y_train, y_pred))

# Predict probabilities
y_prob = model.predict_proba(x_train)[:, 1]  # Probability of survival
print("\nFirst 5 predicted probabilities:", y_prob[:5])

In [ ]:
# HistoGram for seeing what %  of people survived
probabilities = model.predict_proba(x_train)[:, 1]  # Survival probabilities
sns.histplot(probabilities, bins=20, kde=True)
plt.title('Distribution of Predicted Probabilities')
plt.xlabel('Probability of Survival')
plt.ylabel('Count')

In [18]:
test_data=pd.read_csv('data/Cleaned Data/test_cleaned.csv')
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,Ticket_Number,Fare,Embarked,Family,Has_Cabin
0,892,3,Kelly James,1,35,330911,7.8292,2,0,0
1,893,3,Wilkes Needs,0,47,363272,7.0000,0,1,0
2,894,2,Myles Francis,1,62,240276,9.6875,2,0,0
3,895,3,Wirz Albert,1,27,315154,8.6625,0,0,0
4,896,3,Hirvonen Lindqvist,0,22,3101298,12.2875,0,2,0

In [ ]:
x_test=test_data[['Age','Sex','Pclass','Has_Cabin']]
test_res=model.predict(x_test)
# Create submission file
submission = pd.DataFrame({
    'PassengerId': test_data['PassengerId'],
    'Survived': test_res
})

print(x_test.isnull().sum())

In [ ]:
#submission.to_csv('logistic_submission.csv', index=False)